@model IEnumerable<FriendZoneData.Model.Student>

@{
    ViewBag.Title = "ListStudent";
}

<h2>ListStudent</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.school)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.school)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.student_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.student_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.student_id })
        </td>
    </tr>
}

</table>
